h1, h2, h3, h4 {
    margin: 0 0 10px 0;
    font-weight: normal;
    color: #262e39;
}

body {
    margin: 0;
    font-family: -apple-system, system-ui, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: #262e39;
    background-color: #fafafa;
}

input, button {
    font-family: -apple-system, system-ui, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', sans-serif;
}

.btn.btn-success:hover, .btn.btn-primary:hover, .btn.btn-success[disabled], .btn.btn-primary[disabled], .btn.btn-success.disabled, .btn.btn-primary.disabled {
    background: #a2c57d;
}

#main,
#main > .container {
    width: 100%;
    height: 100%;
}
.Field_Password2 {
    padding-top: 10px;
}

body.login_as .content-area {
    background: #fee !important;
}

.Login {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.Login__logo {
    margin-top: 48px;
    width: 300px;
}
.Login__title {
    margin: 24px 0 0 0;
    font-size: 20px;
    line-height: 24px;
}
.Login__subtitle {
    font-size: 14px;
    font-weight: 400;
    color: #6b6e77;
    line-height: 20px;
    margin: 12px 0 0 0;
}

.Login__box {
    width: 440px;
    max-width: 98vw;
    margin: 32px 0;
    border-radius: 3px;
    border: 1px solid #d9d9d9;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.05);
    background: #fff;
}

.Login__box:before {
    content: '';
    display: block;
    height: 4px;
    background-color: #aec57d;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    margin-left: -1px;
    margin-top: -1px;
    width: calc(100% + 2px);
}

.Login__form {
    margin: 32px;
}

.Login__formTwoColumn {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 16px;
}

.Login__formRow {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.Login__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 24px 32px;
}

.Login__headerIcon {
    flex-shrink: 0;
    width: 23px;
    height: 32px;
    color: #b2b2b2;
    margin-right: 12px;
}

.Login__headerText {
    flex-grow: 1;
}

.Login__separator {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    margin: 8px 32px -8px;
}

label.Field_label {
    width: 340px;
    margin: 0;
    font-size: 14px;
}

label.Field_label.Field_fullWidth {
    width: 100%;
}

.Field_labelText {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 8px;
    line-height: 16px;
    font-weight: bold;
}

.InputField__fieldContainer {
    position: relative;
}

.InputField__input[type='text'],
.InputField__input[type='password'],
.InputField__input[type='email'] {
    width: 100%;
    margin: 0;
    box-sizing: border-box;
    display: block;
    font-size: 20px;
    height: 50px;
    padding: 0 15px;
    text-align: inherit;
}

.InputField--small .InputField__input[type='text'],
.InputField--small .InputField__input[type='password'],
.InputField--small .InputField__input[type='email'] {
    padding: 4px 6px;
    color: #262e39;
    font-size: inherit;
    height: 32px;
    box-sizing: border-box;
}

.InputField__input[type='email'].has-prefix {
    padding-left: 30px;
}
.InputField__input[type='password'].has-prefix {
    padding-left: 30px;
}
.Reset_password_header {
    margin-left: auto;
    margin-right: auto;
    font-size: 28px;
}

.Login__formActions {
    margin-top: 14px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.btn.btn-success, .btn.btn-primary {
    background: #aec57d;
}

.btn.btn-success, .btn.btn-warning, .btn.btn-primary, .btn.btn-danger {
    border-color: rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 1px rgb(0 0 0 / 10%);
    color: white;
}

.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    vertical-align: middle;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 1px 0 rgb(0 0 0 / 5%);
    text-align: center;
    text-shadow: none;
    border-radius: 3px;
    background: white;
    font-size: 14px;
    font-weight: 400;
    color: #262e39;
    cursor: pointer;
    box-sizing: border-box;
    white-space: nowrap;
    line-height: 1.14285714;
}

.Login__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fafaf9;
    padding: 24px 32px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

.Login__footer a {
    cursor: pointer;
}
.p_message_success {
    margin-left: auto;
    margin-right: auto;
    width: 24em;
    color: #AEC47D;
}

.p_message_fail {
    margin-left: auto;
    margin-right: auto;
    width: 24em;
    color: red;
}