<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <meta name="viewport" content="width=device-width, initial-scale=1.0">-->
<!--    <meta http-equiv="X-UA-Compatible" content="ie=edge">-->
<!--    <link rel="icon" href="/favicon.ico" type="image/x-icon" />-->
<!--    <link rel="stylesheet" th:href="@{/css/login.css}">-->
<!--    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"-->
<!--          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">-->
<!--    <title>Doxa Connex 2.0</title>-->
<!--</head>-->
<!--<body>-->
<!--<div class="login_container">-->
<!--    <div class="image_content">-->
<!--        <div class="login_image"></div>-->
<!--        <div class="logo_doxa"></div>-->
<!--    </div>-->
<!--    <div class="login_content">-->
<!--        <h1 title="Welcome" class="title">Reset Password</h1>-->
<!--        <form method="post" th:action="@{/resetpassword-submit}">-->
<!--            <span th:text="${message}"></span>-->
<!--            <div class="form-group">-->
<!--                <label for="password1">Enter your new Password</label>-->
<!--                <input id="password1" type="password" name="password1" required minlength="6" maxlength="255" placeholder="Enter Password" class="form-control" />-->
<!--            </div>-->

<!--            <div class="form-group">-->
<!--                <label for="password2">Re-enter your new Password</label>-->
<!--                <input id="password2" type="password" name="password2" required minlength="6" maxlength="255" placeholder="Re-enter Password" class="form-control" />-->
<!--                <span class="has-error" th:text="${error}"></span>-->
<!--                <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>-->
<!--            </div>-->

<!--            <input id="token" type="hidden" name="token" th:value="${token}" />-->
<!--            <input id="email" type="hidden" name="email" th:value="${email}" />-->
<!--            <button type="submit">Reset Password</button>-->
<!--        </form>-->

<!--        &lt;!&ndash;        <div class="register">&ndash;&gt;-->
<!--        &lt;!&ndash;            <div>Not a user yet?</div>&ndash;&gt;-->
<!--        &lt;!&ndash;            <a href="/pages/register" class="register_now">&ndash;&gt;-->
<!--        &lt;!&ndash;                Register Now!&ndash;&gt;-->
<!--        &lt;!&ndash;            </a>&ndash;&gt;-->
<!--        &lt;!&ndash;        </div>&ndash;&gt;-->

<!--        <div class="footer">-->
<!--            <div>-->
<!--                v.2.0-beta-->
<!--                |-->
<!--                <a href="https://www.doxa-holdings.com" target="_blank" rel="noopener noreferrer" class="link">-->
<!--                    Terms of Use-->
<!--                </a>-->
<!--                |-->
<!--                <a href="https://www.doxa-holdings.com" target="_blank" rel="noopener noreferrer" class="link">-->
<!--                    Privacy Policy-->
<!--                </a>-->
<!--                |-->
<!--                <a href="https://www.doxa-holdings.com" target="_blank" rel="noopener noreferrer" class="link">-->
<!--                    Contact Us-->
<!--                </a>-->
<!--            </div>-->
<!--            <div>Copyright ©2021 Doxa Holdings International Pte. Ltd.</div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
<!--</body>-->
</html>
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" th:href="@{/css/resetpassword.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.0.4/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Forgot Password</title>
</head>
<body>
<div id="main">
    <section class="Login">
        <!--        <div class="Login__logo">-->
        <!--          <span>-->
        <!--            <img th:src="@{/images/powered-logo.png}" />-->
        <!--          </span>-->
        <!--        </div>-->
        </h2>
        <div class="Login__box Login__box--progress">
            <div class="Login__header">
            <span class="Login__headerIcon">
              <span>
                <svg
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 23 32">
                  <path
                          fill="currentColor"
                          d="M19.65,14.425 L19.65,8.125 C19.65,3.782725 16.1157,0.25 11.775,0.25 C7.43115,0.25 3.9,3.782725 3.9,8.125 L3.9,14.425 C2.162775,14.425 0.75,15.8362 0.75,17.575 L0.75,28.6 C0.75,30.337225 2.162775,31.75 3.9,31.75 L19.65,31.75 C21.387225,31.75 22.8,30.337225 22.8,28.6 L22.8,17.575 C22.8,15.8362 21.387225,14.425 19.65,14.425 Z M11.775,25.45 C10.4709,25.45 9.4125,24.3916 9.4125,23.0875 C9.4125,21.7834 10.4709,20.725 11.775,20.725 C13.0791,20.725 14.1375,21.7834 14.1375,23.0875 C14.1375,24.3916 13.0791,25.45 11.775,25.45 Z M16.5,14.425 L7.05,14.425 L7.05,8.125 C7.05,5.51995 9.16995,3.4 11.775,3.4 C14.38005,3.4 16.5,5.51995 16.5,8.125 L16.5,14.425 Z"
                  ></path>
                </svg>
              </span>
            </span>
                <span class="Reset_password_header"
                >Reset Password
            </span>
            </div>
            <hr class="Login__separator"/>
            <div th:if="${(message_s == '' or message_s == null) and (message_f == '' or message_f == null)}">
                <form
                        class="Login__form"
                        method="post"
                        th:action="@{/resetpassword-submit}"
                >
                    <div
                            class="
                InputField InputField--small
                Login__formRow
              "
                    >
                        <div class="Field_content">
                            <label class="Field_label Field_fullWidth"
                            ><span class="Field_labelText">New password</span>
                                <div class="InputField__fieldContainer">
                                    <input
                                            class="InputField__input"
                                            type="password"
                                            name="password1"
                                            minlength="8"
                                            maxlength="255"
                                            th:value="${password1}"
                                            placeholder="Enter your new password"
                                            required=""
                                    /></div
                                >
                            </label>
                        </div>
                        <div class="Field_content Field_Password2">
                            <label class="Field_label Field_fullWidth"
                            ><span class="Field_labelText">Repeat your password</span>
                                <div class="InputField__fieldContainer">
                                    <input
                                            class="InputField__input"
                                            type="password"
                                            name="password2"
                                            minlength="8"
                                            maxlength="255"
                                            th:value="${password2}"
                                            placeholder="Repeat your password"
                                            required=""
                                    /></div
                                >
                            </label>
                        </div>
                        <input id="token" type="hidden" name="token" th:value="${token}"/>
                        <input id="email" type="hidden" name="email" th:value="${email}"/>
                        <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
                    </div>
                    <div class="Login__formActions">
                        <button class="btn btn-primary input-block-level" type="submit">
                            Submit
                        </button>
                    </div>
                </form>

            </div>
            <p th:if="${message_s != '' and message_s != null }" th:text="${message_s}" class="p_message_success"></p>
            <p th:if="${message_f != '' and message_f != null }" th:text="${message_f}" class="p_message_fail"></p>
            <p th:if="${error != '' and error != null }" th:text="${error}" class="p_message_fail"></p>
            <div class="Login__footer">
                <a>Have an account?</a
                ><a
                    class="btn"
                    href="/login"
                    data-browseronly="true"
                    data-bypass="true"
            >Login now</a
            >
            </div>

        </div>
    </section>
</div>
</body>
</html>